<!DOCTYPE html>
<html>
    <head>
        <%- include('meta'); %>
        <title>Página Principal</title>    
    </head>
    <body>
        <%- include('nav'); %>
        <br><br><br>
        <header class="container mt-5">
            <h1>Olá <%= user.username %></h1>
            <hr>
            <h2>Escolha uma das opções</h2>
        </header>
        <main class="container">
            <%- include('PlanMenu'); %>
            <br>
            <%= include('RunMenu'); %>
        </main>
    </body>
    <% %>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>
