<!DOCTYPE html>
<html>
    <head>
        <%- include('meta'); %>
        <title>Página Principal</title>    
    </head>
    <body>
        <%- include('nav'); %>
        <br><br><br>
        <header class="container mt-5">
            <h1>Olá <%= user.username %></h1>
            <hr>
            <h2>Escolha uma das opções</h2>
        </header>
        <main class="container">
            <%- include('PlanMenu'); %>
            <br>
            <%- include('RunMenu'); %>
        </main>
    </body>
    <%- include('scripts'); %>
</html>
