<!DOCTYPE html>
<html>
    <head>
        <%- include('meta'); %>
        <title>PBSC: Corrida</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">        
    </head>
    <body>
        <%- include('nav'); %>
    
        <br><br><br>
        <header class="container mt-5">
            <h1>Olá <%= user.username %></h1>
            <hr>
            <h2>Escolha uma das opções</h2>
        </header>
        <main class="container">
            <%- include('runMenu'); %>
            <br>
            <div id="map"></div>
        </main>
    </body>
    <%- include('scripts'); %>
</html>
